<html>
<head>
    <title>Table</title>
</head>
<body>
    <form method="post" action="{% url 'stock_chart' stock=stock %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Generate Chart">
    </form>

    <table>
        <thead>
            <tr>
                <th>X Axis</th>
                <th>Y1</th>
                <th>Y2</th>
                <th>Y3</th>
                <th>Y4</th>
                <th>Y5</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
                <tr>
                    <td>{{ entry.filing_date }}</td>
                    <td>{{ entry.forecasted_eps }}</td>
                    <td>{{ entry.ei_eps }}</td>
                    <td>{{ entry.actual_eps }}</td>
                    <td>{{ entry.f_delta }}</td>
                    <td>{{ entry.ei_delta }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>